ClienteServicioCalculadora/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61167/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61167/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61167/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviciocalculadora2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SumaDosEnteros_InputMessage">
    <wsdl:part name="parameters" element="tns:SumaDosEnteros" />
  </wsdl:message>
  <wsdl:message name="IService1_SumaDosEnteros_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaDosEnterosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RestaDosEnteros_InputMessage">
    <wsdl:part name="parameters" element="tns:RestaDosEnteros" />
  </wsdl:message>
  <wsdl:message name="IService1_RestaDosEnteros_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaDosEnterosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplicaDosEnteros_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicaDosEnteros" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplicaDosEnteros_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicaDosEnterosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DivideDosEnteros_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideDosEnteros" />
  </wsdl:message>
  <wsdl:message name="IService1_DivideDosEnteros_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideDosEnterosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SumaDosEnteros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SumaDosEnteros" message="tns:IService1_SumaDosEnteros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumaDosEnterosResponse" message="tns:IService1_SumaDosEnteros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestaDosEnteros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RestaDosEnteros" message="tns:IService1_RestaDosEnteros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RestaDosEnterosResponse" message="tns:IService1_RestaDosEnteros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplicaDosEnteros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MultiplicaDosEnteros" message="tns:IService1_MultiplicaDosEnteros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiplicaDosEnterosResponse" message="tns:IService1_MultiplicaDosEnteros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivideDosEnteros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DivideDosEnteros" message="tns:IService1_DivideDosEnteros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DivideDosEnterosResponse" message="tns:IService1_DivideDosEnteros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumaDosEnteros">
      <soap:operation soapAction="http://tempuri.org/IService1/SumaDosEnteros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestaDosEnteros">
      <soap:operation soapAction="http://tempuri.org/IService1/RestaDosEnteros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplicaDosEnteros">
      <soap:operation soapAction="http://tempuri.org/IService1/MultiplicaDosEnteros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideDosEnteros">
      <soap:operation soapAction="http://tempuri.org/IService1/DivideDosEnteros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61167/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>