ClienteWebServicioCalculadora/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61167/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviciocalculadora2" />
  <xs:element name="SumaDosEnteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:int" />
        <xs:element minOccurs="0" name="valor2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumaDosEnterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumaDosEnterosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaDosEnteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:int" />
        <xs:element minOccurs="0" name="valor2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestaDosEnterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestaDosEnterosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicaDosEnteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:int" />
        <xs:element minOccurs="0" name="valor2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicaDosEnterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplicaDosEnterosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideDosEnteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor1" type="xs:double" />
        <xs:element minOccurs="0" name="valor2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideDosEnterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideDosEnterosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serviciocalculadora2" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serviciocalculadora2" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>